hostname {{hostname}}
{% for interface in interfaces %}
interface {{interface.name}}
description {{interface.description}}
encapsulation dot1q {{interface.vlan_id}}
ip address {{interface.ip}} {{interface.mask}}
no shut
exit
{% endfor %}
router ospf {{processus_ID}}
router-id {{router_ID}}
{% for network in networks %}
network {{network.network_ip}} {{network.network_mask}} area {{network.area_ID}}
{% endfor %}
