hostname {{hostname}}
{% for interface in interfaces %}
interface {{interface.name}}
description {{interface.description}}
{% if interface.ip is defined %}ip address {{interface.ip}} {{interface.mask}}{% endif %}
{% if interface.type is defined %}switchport mode {{interface.type}}{% endif %}
{% if interface.type == "access" %}switchport access vlan {{interface.vlan_id}}{% endif %}
no shut
exit
{% endfor %}
